* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}
.container {
  width: 100%;
  margin: 2em auto;
  padding: 10px;
}
.navbar-container {
  width: 100%;
  float: left;
}
img[alt="brand-logo"] {
  float: left;
  width: 5em;
}

.list {
  float: left;
  margin: 0 8em;
  padding: 0;
}

.list-item {
  margin-left: 2em;
  list-style: none;
  display: inline;
  font-size: 1rem;
  font-weight: bold;
}

.search-icon {
  float: left;
  width: 1.5em;
  padding-top: 0.4em;
  margin-left: 8em;
}
.search-icon svg {
  width: 100%;
}

nav .list,
nav .image-logo {
  margin-top: 0.3em;
}

nav .image-logo {
  margin-left: 3em;
  margin-right: 5em;
}

.nav-button {
  font-family: Poppins;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.4em 2.8em;
  border-radius: 8px;
  margin-top: 0.5em;
  margin-left: 1em;
}

img[alt="square-pattern"] {
  position: absolute;
  top: 27em;
  width: 16em;
  left: 12em;
}

img[alt="person-hero-image"] {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  width: 22em;
  left: 2em;
}
img[alt="globe-pattern"] {
  position: absolute;
  right: 44em;
  top: 7em;
  width: 4em;
}
img[alt="star-pattern"] {
  position: relative;
  left: 65em;
  top: 1.2em;
  width: 3em;
}

.hero-container-right {
  float: right;
  width: 50%;
  position: relative;
  top: 6.2em;
  text-align: center;
  right: 2em;
}

.hero-heading {
  font-size: 2.8em;
}
.hero-description {
  font-size: 0.8em;
  padding: 2em 10em;
}
.button-email {
  background-color: transparent;
  padding: 0.4em 2em;
  border-radius: 6px;
}
.button-join {
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 0.4em 1em;
  margin-top: 2em;
  
}

.contact-heading {
  margin-top: 6em;
  margin-bottom: 0.6em;
  font-size: 0.9em;
  font-weight: normal;
}

img[alt="star-pattern-bottom"] {
  position: absolute;
  left: 4em;
  bottom: 2.5em;
  width: 2em;
}

